@font-face {
    font-family: 'Allura';
    src: url('../fonts/Allura-Regular.ttf') format('truetype');
    font-weight: normal;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
    overflow-x: hidden;
}